*{
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,html{
  width: 100vw;
  height: 100vh;
}
main{
  overflow: hidden;
}
.navbar{
  background: whitesmoke;
  font-family: 'Bodoni Moda', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
}
/* Logo Tools*/
#logo{
  letter-spacing: -2px;
  font-size: 6.5vw;
  margin: 15px;
  margin-bottom: 2px;
}
#by{
  color: rgb(165, 1, 165);
  font-weight: 900;
  font-size: 7vw;
}
#dot{
  color: rgb(165, 1, 165);
  font-weight: 900;
}
#hair{
  letter-spacing: -3px;
}
#name{
  font-weight: 600;
}
/*Drop Down tools*/
#drop-down-menu{
  display: flex;
  align-items: space-between;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
#drop-down-line{
  width: 30px;
  height: 3px;
  background-color: rgb(165, 1, 165);
}
#drop-down-line2{
  width: 30px;
  height: 10px;
}
/*Bio Tools*/
.bio-box{
  display: flex;
  justify-content: flex-end;
  height: 100vh; 
  width: 100vw;
  background-image: url("light_pose.jpg");
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.bio-word-content{
  display: flex;
  height: 100%;
  font-family: 'Bodoni Moda', serif;
  letter-spacing: -2px;
  font-size: 40px;
  margin-right: 5%;
  font-size: 10vw;
  color: white;
}
.bio-words{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: rgb(165, 1, 165) solid thin;
  border-top: none;
  height: 70vh;
  width: 100%;
  padding: 7px;
  background: rgba(134, 130, 134, .5);
  font-weight: bold;
}
.extensions{
  color: rgb(165, 1, 165) 
}
/*Extension Tools*/
.page-two-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: wheat;
}
.platform-wrapper{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  background: white;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 40px 10px;
  border-radius: .5rem;
}
.invisible-bead_box-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#invisible-bead-img{
  object-fit: contain;
  width: 50vw;
  height: 40vh;
}
#invisible-bead_info {
  width: 90%;
  text-align: left;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  font-size: 23px;
}
p{
  margin: 5px;
}
button{
  background-color: rgb(165, 1, 165);
  color: white;
  height: 50px;
  width: 20%;
  margin-top: 5vw;
  border: none;
  margin-bottom: 15px;
  border-radius: .2rem;
}
button:hover{
  cursor: pointer;
}
button:focus{
  outline: none;
}
button:active{
  background-color: ivory;
}