* {
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Bodoni Moda', serif;
}
body,html {
  width: 100vw;
  height: 100vh;
}
main {
  overflow: hidden;
  display: none;
}
.navigation-bar {
  background: whitesmoke;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
/* Logo Tools*/
#logo-text {
  margin: 10px;
  margin-bottom: 10px;
  letter-spacing: -2px;
  font-size: 6.5vw;
}
#by-text {
  color: rgb(165, 1, 165);
  font-weight: 900;
  font-size: 7vw;
}
#hair-text {
  letter-spacing: -3px;
}
#name-text {
  font-weight: 600;
}
/*Drop Down Tools*/
#drop-down-menu {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#drop-down-lines {
  background-color: rgb(165, 1, 165);
  width: 40px;
  height: 3px;
}
#drop-down-line-middle {
  width: 40px;
  height: 10px;
}
#drop-down-menu:hover {
  border: indigo solid thin;
  cursor: pointer;
}
/*Landing page Tools*/
.landing-page-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100vh; 
  width: 100vw;
  background-image: url("./assets/light_pose.jpg");
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-page-strip {
  display: flex;
  height: 100%;
  margin-right: 6%;
  font-size: 10vw;
  color: white;
  font-family: 'Bodoni Moda', serif;
  letter-spacing: -2px;
}
.landing-page-strip_words {
  background: rgba(134, 130, 134, .5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 70vh;
  width: 100%;
  padding: 7px;
  border: rgb(165, 1, 165) solid thin;
  border-top: none;
  font-weight: bold;
}
#extensions {
  color: rgb(165, 1, 165) 
}
/*Page Two Tools*/
.page-two-wrapper {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.white-modal {
  background: white;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 40px 10px;
  border-radius: .5rem;
}
.white-modal_content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#white-modal_img {
  object-fit: contain;
  width: 50vw;
  height: 40vh;
}
#white-modal_info {
  width: 90%;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  font-size: 23px;
  text-align: left;
}
#white-modal_info > p {
  margin: 5px;
}
#white-modal_button {
  background-color: rgb(165, 1, 165);
  color: white;
  height: 50px;
  width: 30%;
  margin-top: 5vw;
  margin-bottom: 15px;
  border: none;
  border-radius: .2rem;
  font-size: 20px;
}
#white-modal_button:hover {
  cursor: pointer;
}
#white-modal_button:focus {
  outline: none;
}
#white-modal_button:active {
  background-color: ivory;
}
/* Dropdown menu opening tools*/
#drop-down_open-x-shape {
  margin-right: 8px;
  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
#drop-down_open-x-shape:hover {
  cursor: pointer;
  border: indigo solid thin;
}
#diagnal-line-one {
  background-color: indigo;
  width: 40px;
  height: 3px;
  transform: rotate(45deg);
}
#diagnal-line-two {
  background-color: indigo;
  width: 40px;
  height: 3px;
  transform: rotate(90deg);
}
/*Dropdow module tools*/
.drop-down_open-overlay {
  background-color: rgba(75, 0, 130, .5);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.drop-down_module {
  display: flex;
  align-items: center;
  margin-top: 10vh;
  height: 70vh;
  width: 80vw;
  border-left: white solid 5px;
  transition: all 1.5s ease;
}
.drop-down_module ul {
  list-style: none;
  font-size: 13vw;
  transform: translateX(150%);
  transition: transform 1s ease;
} 
.drop-down_module ul li {
  padding: 2.5vh;
}
li:hover {
  cursor: pointer;
  color: white;
}

