
* {
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
/*Overflow classes*/
.wide_drop-down_module {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  margin-right: 30px;
}
#wide_drop-down-links li {
  list-style: none;
  color: black;
  display: inline;
  padding-left: 20px;
}
#wide_drop-down-links li a {
  color: black;
  font-size: 1.3rem;
}
.drop-down_open-overlay {
  display: none;
}
/*End*/
body,html {
  width: 100vw;
  height: 100vh;
  background-color: #d4b293;
  font-family: serif;
}
a {
  text-decoration: none;
  color: white;
  font-family: serif;
  font-weight: bold;
}
main {
  overflow: hidden;
  margin-top: 55px;
}
.navigation-bar {
  background: whitesmoke;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  font-size: 1rem;
}
/* Logo Tools*/
#logo-text {
  margin: 10px;
  margin-left: 22px;
  margin-bottom: 10px;
  letter-spacing: -2px;
  font-size: 2.4rem;
}
#logo-text:hover {
  cursor: pointer;
}
#by-text {
  color: rgb(165, 1, 165);
  font-weight: 900;
  font-size: 2.6rem;
}
#hair-text {
  letter-spacing: -3px;
}
#name-text {
  font-weight: 600;
}
/*Landing page Tools*/
.landing-page-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100vh; 
  width: 100vw;
  background-image: url("./assets/light_pose.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -20px;
}
.landing-page-strip {
  display: flex;
  height: 100%;
  margin-right: 18%;
  color: white;
}
.landing-page-strip_words {
  background: rgba(134, 130, 134, .5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 72vh;
  width: 100%;
  padding: 7px;
  border: rgb(165, 1, 165) solid thin;
  border-top: none;
  font-family: serif;
  font-weight: bold;
  font-size: 2rem;
  
}
#extensions {
  color: rgb(165, 1, 165); 
}
/*Page Two Tools*/
.ibe-page-wrapper {
  background-color: #d4b293;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.white-modal {
  background: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 70%;
  max-width: 900px;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 40px 10px;
  border-radius: .5rem;
}
.white-modal_content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
#white-modal_img {
  object-fit: contain;
  width: 30vw;
  height: 30vh;
  padding-top: 20px;
  max-width: 800px;
  max-height: 800px;
}
#white-modal_info {
  width: 75%;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: left;
  font-family: sans-serif;
}
#white-modal_info > p {
  margin: 5px;
}
#white-modal_button {
  background-color: rgb(165, 1, 165);
  color: white;
  height: 60px;
  width: 45%;
  margin-top: 5vw;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}
#white-modal_button:hover {
  cursor: pointer;
}
#white-modal_button:focus {
  outline: none;
}
#white-modal_button:active {
  background-color: ivory;
}
/*Colors pages Link*/
.color-page_wrapper {
  display: flex;
  flex-direction: column;
  height:100vh; 
  width: 100vw;
  background-image: url("./assets/bgwide.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.color-words_wrapper {
  height: 90vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
}
#boxOne {
  flex: 1;
}
#boxTwo {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 5.1rem;
}
.color-top, .color-mid, .color-bottom {
  flex: 1;
  margin-left: 70px;
}
.color-top {
  color: white; 
}
.color-mid {
  color: yellow;
}
.color-bottom {
  color:gold;
}
.color-info_wrapper {
  background-color: #d4b293;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 100px;
}
#white-modal_img-2 {
  object-fit: contain;
  width: 60vw;
  height: 40vh;
  padding-top: 10px;
}
/*Testomonial Tools*/
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}
.review-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  margin: 40px;

  border-radius: 1em;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 20px 50px -13px;
  width: 80%;
  max-width: 800px;
  margin-top: 90px;
}
.review-1 p1 {
  margin: 40px;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 1.1em;
}
.review-1 img {
  padding: 13px;
  border-radius: 50%;
  background: white;
  margin-top: -50px;
}