@import "../smallscreen.css";
* {
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: white;
}
html {
  background: wheat;
  height: auto;
}
#main {
  margin-top: 48px;
  width: 100%;
  height: 100%;
  position: relative;
}
#portfolio-wrapper {
  display: grid;
  height: 100%;
  width: 100vw;
}
#row {
  flex: 1;
  display: flex;
  height: 250px;
  width: 100%;
}
#row div {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
