@import '../smallscreen.css';
* {
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  color: white;
}
html {
  background: wheat;
  height: 100vh;
  width: 100vw;
}
#main {
  width: 100%;
  height: 2200px;
}
#portfolio-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#row {
  flex: 1;
  display: flex;
  height: 320px;
  width: 100%;
}
#row div {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.margin-block {
  height: 1%;
}