@import '../smallscreen.css';
*{
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  color: white;
}
form {
  width: 80%;
  display: grid;
  margin: 20px;
  font-size: 1.3rem;
}
form input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
#yes-no {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
#yes,#no {
  display: flex;
  align-items: center;
}
input[type='radio'] {
  -webkit-appearance:none;
  padding: 9px;
  margin: 20px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
input[type='radio']:checked {
  background: blue;
}
form label {
  font-size: 1.3rem;
  margin: 5px;
  font-weight: bold;
}
form select {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
#volume {
  display: flex;
  align-items: center;
  margin: 10px;
}
#interested {
  display: grid;
  margin-bottom: 20px;
}
#phone {
  margin-top: 20px;
}
form button {
  background-color: rgb(165, 1, 165);
  color: white;
  height: 60px;
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  font-size: 25px;
  font-weight: 700;
}
#form-closing {
  font-size: 1.5rem;
  width: 80%;
  padding-bottom: 20px;
  margin-top: 10px;
}
main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.navigation-bar {
  background: whitesmoke;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Bodoni Moda', serif;
}
.drop-down_open-overlay.open {
  position: fixed;
  z-index: 4;
  background-color: rgba(75, 0, 130, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 1s ease;
}
/*Page Specific Tools*/
.extension-landing {
  margin-top: 50px;
  height: 95vh;
  width: 100vw;
  background-image: url('./Pp275oiY.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  height: 90%;
}
.title-container div {
  flex: 1;
  font-size: 45px;
  padding-left: 10px;
  text-align: left;
  width: 80px;
  color: white;
  font-weight: 900;
  font-family: serif;
  border-left: rgb(165, 1, 165) solid thin;
  background: rgba(134, 130, 134, .5);
}
.title-container div:nth-child(1) {
  border-top:rgb(165, 1, 165) solid thin;
}
.title-container div:last-child {
  border-bottom:rgb(165, 1, 165) solid thin;
}
#white-modal-logo {
  display: block;
  border: rgb(165, 1, 165) solid thin;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 50px;
}
/* external css: flickity.css */
#image-1 {
  background-image: url("./ibe-exp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-2 {
  background-image: url("./ibe3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-3 {
  background-image: url("./ibe2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-4 {
  background-image: url("./ibe6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-5 {
  background-image: url("./ibe8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
