@import '../widescreen.css';
*{
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ibe-page-wrapper-form {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
a{
  text-decoration: none;
  color: white;
}
main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/*Page Specific Tools*/
.extension-landing {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/backwide2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-container {
  display: flex;
  align-items: center;
  margin-top: 250px;
  height: 100%;
  width: 70%;
  max-width: 900px;
}
.title-container div {
  flex: 1;
  font-size: 45px;
  padding-left: 30px;
  text-align: left;
  width: 300px;
  color: white;
  font-weight: 900;
  font-family: serif;
  font-size: 4rem;
  background: rgba(134, 130, 134, .5);
  border-top: var(--second-color) solid thick;
}

#white-modal-logo {
  display: block;
  border: var(--second-color) solid thin;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 50px;
}
form {
  width: 50%;
  display: grid;
  margin: 20px;
  font-size: 1.3rem;
}
form input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
#yes-no {
  display: flex;
}
#yes,#no {
  display: flex;
  align-items: center;
}
input[type='radio'] {
  -webkit-appearance:none;
  padding: 9px;
  margin: 20px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
input[type='radio']:checked {
  background: blue;
}
form label {
  font-size: 1.3rem;
  margin: 5px;
  font-weight: bold;
}
form select {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
#volume {
  display: flex;
  align-items: center;
  margin: 10px;
}
#interested {
  display: grid;
  margin-bottom: 20px;
}
#phone {
  margin-top: 20px;
}
form button {
  background-color: var(--main-color);
  color: white;
  height: 60px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  font-size: 25px;
  font-weight: 700;
  margin: 0 auto;
}
#form-closing {
  font-size: 1.5rem;
  width: 80%;
  padding-bottom: 20px;
  margin-top: 10px;
}
/* external css: flickity.css */
#image-1 {
  background-image: url("./assets/ibe-exp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-2 {
  background-image: url("./assets/ibe3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-3 {
  background-image: url("./assets/ibe2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-4 {
  background-image: url("./assets/ibe6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image-5 {
  background-image: url("./assets/ibe8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #8C8;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}