*{
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  color: white;
}
html{
  background-color: wheat;
}
main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.navigation-bar {
  background: whitesmoke;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Bodoni Moda', serif;
}
#logo-text {
  margin: 10px;
  margin-left: 22px;
  margin-bottom: 10px;
  letter-spacing: -2px;
  font-size: 6.5vw;
}
#by-text {
  color: rgb(165, 1, 165);
  font-weight: 900;
  font-size: 7vw;
}
#hair-text {
  letter-spacing: -3px;
}
#name-text {
  font-weight: 600;
}
#drop-down-menu {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#drop-down-lines {
  background-color: rgb(165, 1, 165);
  width: 40px;
  height: 3px;
}
#drop-down-line-middle {
  width: 40px;
  height: 10px;
}
#drop-down-menu:hover {
  border: indigo solid thin;
  cursor: pointer;
}
#drop-down_open-x-shape {
  margin-right: 8px;
  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
#drop-down_open-x-shape:hover {
  cursor: pointer;
  border: indigo solid thin;
}
#diagnal-line-one {
  background-color: indigo;
  width: 40px;
  height: 3px;
  transform: rotate(45deg);
}
#diagnal-line-two {
  background-color: indigo;
  width: 40px;
  height: 3px;
  transform: rotate(90deg);
}
.drop-down_open-overlay.open {
  position: fixed;
  z-index: 4;
  background-color: rgba(75, 0, 130, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 1s ease;
}
.drop-down_module {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: 10vh;
  height: 60vh;
  min-height: 400px;
  width: 80vw;
  transition:transform 1s ease;
}
.drop-down_open-overlay > *:first-child { transform: translateX(150%); }
.drop-down_open-overlay.open-active > *:first-child { transform: translateX(0); }

.drop-down_module ul {
  list-style: none;
  font-size: 11vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0);
  letter-spacing: 5px;
  font-family: 'Bodoni Moda', serif;
} 
.drop-down_module ul li {
  padding: 2vh;
}
li a:hover {
  cursor: pointer;
  color: black;
}
li a:active {
  font-size: 8vw;
}
.image-modal {
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 40px 10px;
  height: 55vh;
  width: 60vw;
  border-radius: 2rem;
  border-top-left-radius: 0;
  margin-top: -8%;
  margin-left: -4%;
  position: absolute;
  background-image: url("ibe-example.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.extension-title {
  width: 70vw;
  min-width: 300px;
  font-size: 4.6vw;
  letter-spacing: 2px;
  background-color: rgba(134, 130, 134, .85);
  border: rgb(165, 1, 165) solid thin;
  border-right: none;
  color: white;
  position: absolute;
  top: 13%;
  left: 26%;
  z-index: 2;
  padding-left: 20px;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  text-align: right;
}
.info-modal {
  background: white;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 20px 0px;
  width: 95vw;
  height: 100%;
  position: relative;
  left: 5%;
  margin-top: 15vh;
  margin-bottom: 30px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.spacebar {
  height: 50vh;
}
 .info {
  flex: 1;
  text-align: left;
  font-size: 23px;
  margin: 40px;
  line-height: 35px;
}
h1 {
  margin-right: 15px;
}
.image-modal-2 {
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 40px 10px;
  height: 55vh;
  width: 60vw;
  border-radius: 2rem;
  border-top-right-radius: 0;
  margin-top: -10%;
  margin-left: 41%;
  position: absolute;
  background-image: url("fusion-hair.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.extension-title-2 {
  width: 70vw;
  min-width: 250px;
  font-size: 4.6vw;
  letter-spacing: 2px;
  background-color: rgba(134, 130, 134, .85);
  border: rgb(165, 1, 165) solid thin;
  border-left: none;
  color: white;
  position: absolute;
  top: 13%;

  z-index: 2;
  padding-left: 20px;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  text-align: left;
}
.info-modal-2 {
  background: white;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 20px 0px;
  width: 95vw;
  height: 100%;
  position: relative;
  margin-top: 15vh;
  margin-bottom: 30px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}