@import '../smallscreen.css';
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600;700&display=swap');
*{
  margin: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  color: white;
}
html{
  background-color: wheat;
}
main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.navigation-bar {
  background: whitesmoke;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Bodoni Moda', serif;
}
.drop-down_open-overlay.open {
  position: fixed;
  z-index: 4;
  background-color: rgba(75, 0, 130, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 1s ease;
}
.margin-block {
  height: 40px;
}
.image-modal {
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 20px 10px;
  height: 55vh;
  width: 60vw;
  min-width: 200px;
  min-height: 300px;
  border-radius: 2rem;
  border-top-left-radius: 0;
  margin-top: -8%;
  margin-left: -4%;
  position: absolute;
  background-image: url("ibe-example.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.extension-title {
  width: 80vw;
  min-width: 300px;
  font-size: 1.1em;
  letter-spacing: 2px;
  background-color: rgba(134, 130, 134, .85);
  border: rgb(165, 1, 165) solid thin;
  border-right: none;
  color: white;
  position: absolute;
  margin-top: 30%;
  margin-left: 13%;
  z-index: 2;
  padding-left: 12px;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  text-align: right;
}
.info-modal {
  background: white;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 20px 0px;
  width: 95vw;
  height: 100%;
  position: relative;
  left: 5%;
  margin-top: 15vh;
  margin-bottom: 30px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.spacebar {
  height: 50vh;
}
.info {
  flex: 1;
  text-align: left;
  font-size: 1.4em;
  margin: 40px;
  line-height: 35px;
}
.info p3 {
  color: rgb(165, 1, 165);
  font-weight: bold;
  font-size: 1.1em;
}
h1 {
  margin-right: 15px;
}
.image-modal-2 {
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 20px 10px;
  height: 55vh;
  width: 60vw;
  border-radius: 2rem;
  border-top-right-radius: 0;
  margin-top: -10%;
  margin-left: 41%;
  position: absolute;
  background-image: url("fusion-hair.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.extension-title-2 {
  width: 70vw;
  min-width: 250px;
  font-size: 1.1em;
  letter-spacing: 2px;
  background-color: rgba(134, 130, 134, .85);
  border: rgb(165, 1, 165) solid thin;
  border-left: none;
  color: white;
  position: absolute;
  top: 13%;
  z-index: 2;
  padding-left: 20px;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  text-align: left;
}
.info-modal-2 {
  background: white;
  box-shadow: hsla(200, 20%, 50%, .6) 0px 0px 20px 0px;
  width: 95vw;
  height: 100%;
  position: relative;
  margin-top: 15vh;
  margin-bottom: 30px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.start-consultation {
  width: 100%;
  height: 11.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(165, 1, 165);
  font-family: sans-serif;
  font-size: 30px;
}