@import "../widescreen.css";
main {
  margin-top: 60px;
}
.color-homepage_wrapper {
  display: flex;
  flex-direction: column;
}
.title-block {
  padding: 20px 0;
  width: 100%;
  background-color: var(--main-color);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-block h2 {
  font-size: 3em;
  color: white;
}
.title-block p {
  font-size: 25px;
  color: white;
  padding: 10px;
  margin-left: 10px;
}
.options_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options_wrapper div {
  height: 500px;
}
#colorCards {
  display: flex;
  align-items: flex-end;
  height: 500px;
  width: 60%;
  max-width: 700px;
  justify-content: flex-start;
  border: var(--main-color) solid thin;
  perspective: 1000px;
  transition: all 0.8s;
  transform-style: preserve-3d;
  position: absolute;
  z-index: -2;
}
#colorCards:hover {
  cursor: pointer;
}
.hidden-box {
  width: 60%;
  max-width: 700px;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #d4b293;
  transition: all 2s;
  flex-direction: column;
  margin-bottom: 40px;
}
h1 {
  color: white;
  font-size: 3em;
  font-weight: 900;
  transition: transform 0.4s;
  pointer-events: none;
  margin: 20px;
}
.hidden-box p {
  margin: 20px 20px;
  font-size: 1.7em;
  font-family: sans-serif;
  z-index: -2;
}
.hidden-box p2 {
  margin: 20px 20px;
  font-size: 2.5em;
  text-align: right;
  z-index: -2;
}
