@import '../smallscreen.css';
main {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.margin-block {
  height: 50px;
}
.title-block {
  height: 200px;
  width: 100%;
  background-color: teal;
}